@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "roboto", sans-serif;
}

/* --------------navbar  css start----------------- */


.main-container {
    position: sticky;
    top: 0.5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #fff;
    z-index: 8;


}

.main-container .left-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav-logo a:hover {
    opacity: 0.75;
    transition: 1s;
}

.main-container .left-navbar .nav-list ul {
    display: flex;
    list-style: none;
    gap: 10px;
    margin-left: 30px;

}

.main-container .left-navbar .nav-list ul a {
    text-decoration: none;
    color: black;
}

.main-container .left-navbar .nav-list ul a:hover {

    color: red;
}

.main-container .right-navbar i {
    color: black;
    margin: 5px;

}

.main-container .right-navbar i:hover {
    color: red;


}

/* --------------navbar  css end----------------- */
/* -----------------image section start-------------- */

.main-img-container {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    position: relative;

}


.main-img-container .one-img {

    flex: 1;
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(./img/img1.webp);
    background-size: cover;
    background-position: center;
    width: 450rem;
    height: 100%;
    /* z-index: -1; */

}
.one-img:hover ,.two-img:hover, .three-img:hover,.four-img:hover
{
    /* z-index: -1; */
  scale: 1.05;
  transition: all 0.5s ease-in-out;
  
}

.main-img-container .two-img {
    flex: 1;
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(./img/img2.webp);
    background-size: cover;
    background-position: center;
    /* opacity: 0.75; */


}
.one-img ,.two-img ,.three-img,.four-img
{
    text-align: center;
    align-content: center;
   
}

.main-img-container .three-img {
    flex: 1;
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(./img/img3.webp);
    background-size: cover;
    background-position: center;
    /* opacity: 0.75; */



}

.main-img-container .four-img {
    flex: 1;
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(./img/img4.webp);
    background-size: cover;
    background-position: center;
    /* opacity: 0.75; */

}

/* --------------image section end---------------- */
/*------------ short image section start--------- */

.short-img-container {

    display: flex;
    justify-content: center;
    background-color: black;
    gap: 60px;

}

.short-img-container img {
    margin: 15px;
}

/*------------ short image section end--------- */
/*------------ heading section start--------- */
.section-heading {

    text-align: center;
    margin-top: 50px;
}

.section-heading p a {
    color: red;
}


/*------------ heading section end--------- */
/*----------- spotify section start---------- */
.sopify-section {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 85px;
}

.sopify-img1 img {
    width: 400px;
    height: 400px;
}

.sopify-heading1 h1 {
    font-size: xx-large;
    align-items: center;

}

.sopify-heading1 button {
    background-color: #ff4a32;

    padding: 10px 20px;
    margin-top: 25px;
    border-radius: 25px;
    border: none;
    color: #fff;
}

.sopify-heading1 button:hover {
    cursor: pointer;
    background-color: #8B8B8B;
}

.sopify-heading2 h1 {
    font-size: xx-large;
    align-items: center;

}

.sopify-heading2 button {
    background-color: #ff4a32;
    padding: 10px 20px;
    margin-top: 25px;
    border-radius: 25px;
    border: none;
    color: #fff;
}

.sopify-heading2 button:hover {
    cursor: pointer;
    background-color: #8B8B8B;
}

.sopify-heading2 {

    margin: auto;
}

.sopify-img3 {
    margin: auto;
}

.sopify-img3 img {
    margin-left: 80px;
    width: 600px;

}

/*----------- spotify section end---------- */
/* -------high-perfomance start------------ */
.high-perfomance {
    position: relative;
    width: 100%;
    height: 600px;
    background-image: url(./img/high_performance.webp);
}

.background {
    text-align: center;
}

.background h1 {
    font-size: 3rem;
}

.background button,
.background1 button {
    background-color: #ff4a32;

    padding: 10px 60px;
    margin-top: 25px;
    border-radius: 25px;
    border: none;
    color: #fff;
}

.background button:hover {
    cursor: pointer;
    background-color: #8B8B8B;
}

.background1 button:hover {
    cursor: pointer;
    background-color: #8B8B8B;
}

.iframe {
    display: flex;
    justify-content: center;
}

/* ----------------- */
.high-perfomance1 {
    position: relative;
    width: 100%;
    height: 600px;
    background-image: url(./img/scateboard.webp);
    background-size: cover;
    background-position: center;
}

.background1 {
    padding-top: 200px;
    text-align: center;
    color: #fff;
}

.background1 h1 {
    font-size: 3rem;
}

.heading {
    margin-top: 30px;
    font-size: 2rem;
    text-align: center;
}

/* -------high-perfomance end------------ */

/* card-container 1 start*/
.card-container {
    text-align: center;
    display: flex;
    gap: 2px;
    align-items: center;
}

.card-container a {
    text-decoration: none;
    color: red;
    text-align: center;
}


/* card-container 1 end*/
/* form section start */
.form1 {
    margin-top: 80px;
    background-color: #E5E5E5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
}

.form1 input {
    width: 400px;
    height: 40px;
    padding: 0 5px;
    border-radius: 3px;
    border: 1px solid #B0B6BB;
}

.form1 .small-pera {
    text-align: center;
    font-size: 0.65rem;

}

.form1 span {
    color: #ff4a32;
}

.form1 a {
    color: black;
}

.form1 button {
    padding: 12px 170px;
    border-radius: 3px;
    background-color: #FF4A32;
    font-size: medium;
}

.form1 button:hover {
    cursor: pointer;
    opacity: 0.75;
}

.form1 img {
    height: 20px;
    background-color: #8B8B8B;
    border-radius: 12px;
    padding: 2px 15px;
}


     /* black section  */
.black-section{
    display: flex;
    width: 100%;
    height: 22rem;
    background-color: black;
    margin-top: 0;
    transform: translateY(-1rem);
}

.black-section>.items{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 3rem;
}
.black-section>.items>.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    color: white;
    width: 20rem;
    text-align: center;

}
.black-section>.items>.item>img{
    width: 8rem;
    height: 8rem;
}

  /* footer section  */
  .upper,.lower{
    padding: 20px 0px;
    display: flex;
    width: 65%;
    margin: auto;
  }

  .box{
    width: calc(100%/3);
    line-height: 1.5;
    padding: 20px 0px;
  }
  .box h1{
    margin-bottom: 10px;
  }
 
  .box ul
  {
    list-style: none;
  }
 
   .box ul a{
    color: black;
    text-decoration:dotted;  
  }
  .box ul a:hover{
    color: #FF4A32;
  }
 

  .lower{
    justify-content: space-between;
    background-color: white;
   
  }

  .payment-methods {
    display: flex;
    justify-content: center;
    align-items: center;
   
  }
  
  .payment-box {
   
    background-color: #fff;
    border: 1px solid #ccc;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .payment-box img {
    max-width: 50px;
    max-height: 20px;
}